extends admin-layout

block content
  div(class='row')
    div(class='col-lg-6')
      div(class='card dashboard-card')
        div(class='card-header') Allgemein
        div(class='card-body')
    div(class="col-lg-6")
      div(class='card dashboard-card')
        div(class='card-header') Globale Banner
        div(class='card-body')
