extends layout-admin

block content
  .container
    div(class='card card-login mx-auto mt-5')
      div(class='card-body')
        h5(class='card-title') Anmelden
        hr
        p(class='card-text') Um Zugang zum Admin-Bereich der Webseite zu erhalten ist ein Adminstrator-Konto notwendig. Bitte melden Sie sich an.
        form
          div(class='form-group')
            div(class='form-label-group')
              input(type='text' id='inputUsername' class='form-control' placeholder='Benutzername' required='required' autofocus='autofocus')
              label(for='inputUsername') Benutzername
          div(class='form-group')
            div(class='form-label-group')
              input(type='password' id='inputPassword' class='form-control' placeholder='Passwort' required='required')
              label(for='inputPassword') Passwort
          a(class='btn btn-primary btn-block' href='/admin') Anmelden