div(class='row row-dark')
  .container
    div(class='row mt-5 mb-4')
      div(class='col-md-4')
        h5(class='text-uppercase text-yellow') Kontakt
        address
          ul(class='list-unstyled')
            li
              abbr(title='Adresse')
                em(class='fa fa-home')
              |  Keekener Straße 100, 47533 Kleve-Rindern
            li 
              abbr(title='Telefon')
                em(class='fa fa-phone')
              |  +49 (0) 2821 / 3501
            li
              abbr(title='Telefax')
                em(class='fa fa-fax')
              |  +49 (0) 2821 / 30874
            li
              abbr(title='Email')
                em(class='fa fa-envelope')
              |  stratmann94@gmail.com
      div(class='col-md-4')
        h5(class='text-uppercase text-yellow') Bürozeiten
        ul(class='list-unstyled')
          li
            abbr(title='Bürozeiten')
              em(class='fa fa-clock')
            |  Mo. - Fr.: 07:00 - 17:00 Uhr
      div(class='col-md-4')
        h5(class='text-uppercase text-yellow') Social Media
        ul(class='list-unstyled')
          li
            abbr(title='Facebook')
              em(class='fab fa-facebook')
            | 
            a(href='https://www.facebook.com/LUnielen') Facebook
    div(class='row my-2')
      div(clasS='col-md-12 text-center')
        small(class='text-muted') Copyright 2019 &copy; Matthias Stratmann | 
        small(class='text-muted') 
          a(href='#') Impressum
          |  |
        small(class='text-muted') 
          a(href='#') Datenschutzhinweise
          |  | 
        small(class='text-muted')
          a(href='/admin/login') Login