extends layout

block header
  include components/carousel

block content
    div(class="row")
      div(class="container")
        div(class='row my-4')
          div(class='col text-center')
            h1(class='display-5 text-uppercase text-yellow') Wir ackern für Sie!
            p(class='lead') ... und das bereits seit über 85 Jahren!
            hr(class='my-4')
            p(class='text-muted') 
              | Sie brauchen unterstützung in der Landwritschaft, bei Transport- oder Erdarbeiten?
              | Mit einem zuverlässigen Team, jahrerlanger Erfahrung und einem modernen Maschinenpark setzen wir vom Lohnunternehmen Nielen Ihre Arbeiten in die Tat um.
              | Auf uns können Sie zählen.
        div(class='row')
          div(class='col-md-4')
            i(class='fas fa-tractor mb-2' style='font-size: 52px;')
            h5 Landwirtschaft
            p(class='text-muted') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus porro dolores consequuntur nulla possimus quasi, fugiat saepe adipisci quos voluptatibus cupiditate esse libero deserunt?
          div(class='col-md-4')
            i(class='fas fa-snowplow mb-2' style='font-size: 52px;')
            h5 Baggerarbeiten
            p(class='text-muted') Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita illo nobis delectus eos dignissimos voluptates unde ea inventore quis architecto.
          div(class='col-md-4')
            i(class='fas fa-truck mb-2' style='font-size: 52px;')
            h5 Transporte
            p(class='text-muted') Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nulla modi quod voluptatum rem consequuntur voluptate aspernatur maxime. Quam error consequatur totam assumenda doloremque obcaecati sunt eum animi ab explicabo?
    div(class='row row-yellow')
      .container
        div(class='row my-4')
          div(class='col')
            h3 Das Unternehmen
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, autem, voluptatibus! Fugiat laboriosam ut blanditiis enim eaque illo facilis quae, laudantium saepe modi et maiores natus consequuntur, accusantium inventore doloremque in quod beatae neque ex dolore alias, eum deserunt omnis. Excepturi, impedit atque sequi. Consequuntur, magnam tempore, voluptas doloribus, debitis dignissimos obcaecati, temporibus quibusdam impedit cumque quaerat perspiciatis facere alias architecto. Ex quibusdam hic nobis cum obcaecati consequuntur, natus magni enim! Quidem nemo eos eius consequuntur et laboriosam aut commodi quam illo, magnam placeat molestias distinctio quos? Illo perspiciatis ratione ex fuga autem fugit minima. Perferendis, sequi dolore voluptate delectus quisquam quidem voluptatum autem voluptatibus unde laboriosam consequatur ut dolores magni adipisci, doloremque iusto asperiores earum sunt harum temporibus nihil, aspernatur et? Quo fugiat, assumenda sapiente vitae reiciendis, voluptate deleniti quia quasi optio consequuntur incidunt quas ex nesciunt esse debitis! Facilis qui quae ullam! Incidunt dolor sit dolores dignissimos, reprehenderit.
            p Sie sollen mehr über uns und unser Unternehmen erfahren?
            button(type='button' class='btn btn-outline-dark') Mehr erfahren
    div(class="row")
      .container
        div(class='row my-4')
          div(class='col')
            h3(class='text-yellow') Leistungen
            p Erhalten sie einen kleinen Einblick in unser vielfältiges Leistungspektrum.
