extends layout

block header
  include components/carousel

block content
  div(class="container")
    div(class='row mt-4 mb-3')
      div(class='col text-center')
        h2(class='text-yellow') Unsere Leistungen
        p(class='text-muted') 
          | Hier finden Sie eine Übersicht über unsere Leistungen. Bitte haben Sie verständnis dafür, dass wir nicht alle Leistungen auflisten können. Ihre speziellen Wünsche kommen wir aber
          | gerne nach und finden eine für Sie optimale Lösung, ganz bestimmt!
    div(class='row my-2')
      div(class='col')
        h5 Landwirtschaft
        hr
    div(class='row')
      each service in serviceList
        div(class='col-lg-4 col-md-6 col-xs-6 d-flex')
          div(class='card flex-fill text-center shadow-hover mb-4')
            a(href=service.url)
              div(class='image-zoom')
                img(class='card-img-top' src=service.thumbnail_url clt='')
              div(class='card-body')
                h5(class='card-title') #{service.displayName}
                p(class='card-text text-muted') #{service.description}

    div(class='row mt-3 mb-2')
      div(class='col')
        h5 Baugewerbe
        hr