extends ../layout

block content
  div(class='row img-enllax' data-enllax-ratio='0.4' style='background-image: url("/images/services/silopressen/banner.jpg")')
  div(class='row')
    div(class="container")
      div(class='row mt-4 mb-3')
        div(class='col text-center text-md-left')
          nav(aria-label='breadcrumb')
            ol(class='breadcrumb')
              li(class='breadcrumb-item')
                a(href='/services/') Leistungen
              li(class='breadcrumb-item active' aria-current='page') Silageballenpressen
          p Silageballen bieten wir sowohl in runder als auch eckiger Form an. Gerne bieten wir Ihnen auch unser Komplettpaket an. Das Paket beinhaltet Pressen, wickeln, zeitnahes Verladen, Transport und stapeln auf Ihrem Hof.
      div(class='row')
        div(class='col text-center text-md-left')
          h5 Rundballen
      div(class='row text-muted mb-4')
        div(class='col-md-8 text-center text-md-left')
          p Für das Pressen von runden Silageballen steht Ihnen eine Krone Comprima CV 150 XC Press-Wickel-Kombination zur Verfügung.
          p Höchst mögliche Qualität des Silageballens wird durch variabler Presskammer erreicht, welche eine bereits vom Kern an kontinuierliche Verdichtung des Ballens gewährleistet. Der Pressdruck kann dabei Situationsbedingt angepasst werden. Der Ballendurchmesser ist zwischen 1,2m und 1,5m stufenlos regulierbar.
          p Die Schneideinrichtung ermöglicht theoretische Schnittlängen von 42mm (bei 27 Messer) und 64mm bei (bei 13 Messer).
          p Zudem vefügt die Presse über die Option den Ballen mit Mantelfolie zu binden. Vorteile der Mantelfolie sind eine stärkere Verdichtung der äußeren Schichten des Ballens, ein geringerer Lufteinschluss, was die Silagequalität erhöht. Außerdem wird das Aufschneiden des Ballens deutlich vereinfacht. Klassische Netzbindung steht Ihnen dabei weiterhin zur Verfügung.
          p Auf Wunsch kümmern wir uns gerne über Abtransport und Stapeln der Ballen.
        div(class='col-md-4 text-center text-md-right')
          figure(class='figure')
            a(href='/images/services/silopressen/mantel.jpg' data-toggle='lightbox')
              img(src='/images/services/silopressen/mantel_sm.png' class='figure-img img-fluid rounded')
            figcaption(class='figure-caption text-left') Ballen mit Folienbindung
      div(class='row')
        div(class='col-md-4')
        div(class='col-md-8 text-center text-md-left')
          h5 Quaderballen
      div(class='row text-muted')
        div(class='col-md-4 text-center text-md-left order-last order-md-1')
          figure(class='figure')
            a(href='/images/services/silopressen/quader.jpg' data-toggle='lightbox')
              img(src='/images/services/silopressen/quader_sm.jpg' class='figure-img img-fluid rounded')
            figcaption(class='figure-caption text-left') Quaderballen wickeln
        div(class='col-md-8 text-center text-md-left order-1 order-md-2')
          p Für das Pressen und Wickeln von Quaderballen wird das Erntegut zunächst mit einer unserer Großpackenpressen gepresst. Um beste Qualität des Futters zu gewährleisten wird unmittelbar nach den Pressen der Ballen mit unseren McHale 998 Packenwickler gewickelt.
          p Standardgemäß wird der Ballen mit 4 Lagen Folie umwickelt. Auf Wunsch stehen Ihnen mehr Lagen zur Verfügung.
          p Für das Verladen und den Transport der Ballen steht Ihnen unser Teleskoplader mit doppelter Folienballenzange zur Verfügung.
      div(class='row mt-4 mb-3')
        div(class='col text-center text-md-left')
          h5 Impressionen
      div(class='row mb-3')
        div(class='col')
          a(href='/images/services/silopressen/gallery01.jpg' data-gallery='gallery' data-toggle='lightbox')
            img(src='/images/services/silopressen/gallery01_prev.jpg' class='figure-img img-fluid rounded')
        div(class='col')
          a(href='/images/services/silopressen/gallery02.jpg' data-gallery='gallery' data-toggle='lightbox')
            img(src='/images/services/silopressen/gallery02_prev.jpg' class='figure-img img-fluid rounded')




              
          

